<%- include("./partials/header") %>
<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>About Us</h1>
		</div>
	</header>

	<h1>Behind the Scenes</h1>

	<h3>
	As the COVID-19 pandemic has severely disrupted the economy and University research programs, thousands of college students, including us, lost amazing opportunities.
	</h3>

	<h3>
	Despite the challenges and uncertainties in the future months, we want to help out our fellow students by creating InternConn, a platform to connect impacted students with ongoing, remote research or internship opportunities. Our goal is to connect industry expertise in the professional fields with innovative ideas among college students in a way that’s crucial in the face of an unprecedented crisis.
	</h3>

	<h3>
	I would like to invite you to be a part of the initiative by sharing opportunities with students with canceled internships! Whether or not the company is able to provide financial accommodation in lieu of the opportunities is not our priority. These opportunities can be unofficial and last varying durations. We especially encourage you to challenge students in non-traditional ways and we are willing to work out individualized opportunity programs for each organization.
	</h3>
</div>
<%- include("./partials/footer") %>