<%- include("./partials/header") %>

<div class="mt-5 pt-2">
	<img src="ourstory.png" class="img-fluid" alt="Responsive image">
</div>

<div class="container my-5 py-5 ">
  <div class="mx-5">
  	<h1 class="text-center my-5">
  		Behind the Scenes
  	</h1>
  	<p>
  		As the COVID-19 pandemic has severely disrupted the economy and University research programs, thousands of college students, including us, lost amazing opportunities.
  	</p>
  	<p>
  		Despite the challenges and uncertainties in the future months, we want to help out our fellow students by creating InternConn, a platform to connect impacted students with ongoing, remote research or internship opportunities.
  	</p>
  	<p>
  		We would like to invite you to be a part of the initiative by sharing opportunities with students with canceled internships! Whether or not the company is able to provide financial accommodation in lieu of the opportunities is not our priority. These opportunities can be unofficial and last varying durations. We especially encourage you to challenge students in non-traditional ways and we are willing to work out individualized opportunity programs for each organization.
  	</p>
  			
  		
  </div>

</div>




<%- include("./partials/footer") %>
