<%- include("partials/header") %>


<div id="landing-header">
		<h1>Welcome to InternConn!</h1>
	<a href="/projects" class="btn btn-lg btn-success">View All Projects</a>
</div>
<%- include("partials/footer") %>