<%- include("partials/header") %>
<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to InternConn!</h1>
			<p>Intern the COVID-19 way</p>
		</div>
	</header>

	<div>
		<h1>WHAT WE DO</h1>
		<h3>
			<p>
			As the COVID-19 pandemic has severely disrupted the economy and University research programs, thousands of college students, including us, lost amazing opportunities.
			</p>
			<p>
			We want to help out our fellow students by creating this platform InternConn to connect impacted students with ongoing, remote research or internship opportunities.
			</p>	
		</h3>
	</div>

	<hr>

	<div>
		<h1>HOW IT WORKS</h1>
		<h3>
			<p>
			For students:
			<br>
			As a student, we expect you to form up in a team of 3-4 people and voluntarily work on valuable projects and research opportunities to gain intern experience.
			</p>
			<br>
			<p>
			For companies:
			<br>
			As a project sponsor, we hope you can participate in weekly check-in with the team working for the project and provide mentorships and advice.
			</p>	
		</h3>
	</div>

	<hr>

	<div>
		<h1>WHAT WE DO</h1>
		<h3>
			<p>
			As the COVID-19 pandemic has severely disrupted the economy and University research programs, thousands of college students, including us, lost amazing opportunities.
			</p>
			<p>
			We want to help out our fellow students by creating this platform InternConn to connect impacted students with ongoing, remote research or internship opportunities.
			</p>	
		</h3>
	</div>

	<hr>
	
	<div>
		<h1>Projects</h1>
		<a href="/projects" class="btn btn-lg btn-success">View All Projects</a>
	</div>

</div>
<%- include("partials/footer") %>