<%- include("./partials/header") %>
<div class="container my-5 py-5 px-5 text-center">

<div class="sectionTitle my-5">Login</div>
<form action="/login" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<input type="submit" value="Login!">
</form>
</div>
<%- include("./partials/footer") %>