<%- include("./partials/header") %>
<div class="container my-5 py-5 px-5 text-center">
<div class="sectionTitle my-5">Sign Up</div>
<form action="/register" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="text" name="email" placeholder="email">
	<input type="password" name="password" placeholder="password">
	<button>Sign Up</button>
</form>
</div>
<%- include("./partials/footer") %>