.thumbnail img{
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full{
	padding: 9px;
}

#delete-form {
	display: inline;
}

section:nth-child(2n + 1) {
	background: #f7f7f7;
}

.sectionTitle {
	font-family: 'Josefin Sans', sans-serif;
	
}

.companyName {
	font-family: 'Josefin Sans', sans-serif;
}


p {
	font-family: 'Josefin Sans', sans-serif;
}

nav {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.2em;
	background-color: rgb(43, 91, 131);
}

.navbar-header a {
	font-family: 'Teko', sans-serif;
	font-size: 1.2em;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-brand {
    color: white;
}


element.style {
    background-color: rgb(43, 91, 131);
}


footer {
    background-color: rgb(43, 91, 131);
}

