.thumbnail img{
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full{
	padding: 9px;
}

#delete-form {
	display: inline;
}

.navbar{
	margin-bottom: 0px;
}

section:nth-child(2n + 1) {
	background: #f7f7f7;
}

footer {
  text-align: center;
  padding: 3px;
}

.sectionTitle {
	font-family: 'Josefin Sans', sans-serif;
	
}

.companyName {
	font-family: 'Josefin Sans', sans-serif;
}


p {
	font-family: 'Josefin Sans', sans-serif;
}

nav {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.2em;
}

.navbar-header a {
	font-family: 'Teko', sans-serif;
	font-size: 1.2em;
}


